#images>div {
        width: max-content;
        display: inline-block;
        margin-right: 20px;
        position: relative;
        overflow: hidden;
    }

    #images>div::before {
        content: "X";
        position: absolute;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background: rgba(0, 0, 0, 0.2);
        transition: 0.1s;
        top: 100px;
        left: 100px;
        z-index: 100;
        cursor: pointer;
        font-family: arial;
    }

    #images>div:hover::before {
        top: 0px;
        left: 0px;
    }

    .ql-container{
        height: 100px !important;
    }